*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Nimbus sans L;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
#nav{
    position: relative;
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
#nleft{
    display: flex;
    gap: 30px ;
}
#nav a{
    display: inline-block;
    font-weight: 800;
    text-decoration: none;
    color: black;
}
#nav #Centeratag{
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#hero{
    /* background-color: green; */
    display: flex ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15vw;
    padding: 0vw 10vw;
    /* background-color: red; */
}
#sustain p{
    text-transform: capitalize;
    font-weight: 800;
    opacity: .5;
    font-size: 15px;
    margin: 10px 0;
    /* color: gray; */
}
#sustain #susimgwrapper{
    position: relative;
    overflow: hidden;
    width: 11vw;
    height: 15vw;
    /* background-color: red; */
    
}
#susimgwrapper img{    
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ephemeral{
    position: relative;
    width: 30vw;
    min-height: 42vw;
    /* background-color: rgb(244, 182, 182); */
}
#ephemeral h1{
    line-height: 1;
    letter-spacing: -.4vw;
    font-weight: 400;
    font-size: 5.5vw;
}
#ephemeral #heading{
    position: absolute;
    top: -17%;
    left: -20%;
}
#imgntext{
        /* background-color: red; */
        width: fit-content;
        height: fit-content;
        /* background-color: rebeccapurple; */
}
#ephemeral img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ephemeral p{
    /* background-color: red; */
    font-size: 1.2vw;
    margin-top: 30px;
    width: 100%;
    letter-spacing: -.1vw;
    line-height: 1.3;
    font-weight: 200;
    color: #5e5e5e;
}
#visit{
    display: flex;
    gap: 15px;
    align-items: center;
}
#circlev{
    border-radius: 50%;
    border: 2px solid #5e5e5e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    /* background-color: green; */
}
#circlev i{
    color: #5e5e5e;
    font-size: 20px;
}
#visit h3{
    color: #5e5e5e;
    font-weight: 100;
}
#motive{
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;

}
#motive h3{
    font-size: 18px;
    text-transform: uppercase;
    color: #5e5e5e;
}
#motive p{
    /* font-weight: 700; */
    width: 80%;
    font-size: 2.1vw;
    letter-spacing: -.1vw;
    line-height: 1.7;
    flex-wrap: wrap;
    /* display: flex; */
    text-align: right;
    align-items: center;
}
#motive span{
    display: inline-block;
    margin: 0 10px;
    border-radius: 100px;
    margin: 0 13px;
    margin-bottom: -12.5px;
    background-color: red;
}
#onespan{
    height: 50px;
    width: 80px;
    background-image: url(bluegirl.jpg);
    background-size: cover;
    background-position: 0% 60%;
    
}
#twospan{
    height: 60px;
    width: 130px;
    background-image: url(shaljam.jpg);
    background-size: cover;
    background-position: 0% 48%;
}
#threespan{
    height: 50px;
    width: 80px;
    background-image: url(grass.jpg);
    background-size: cover;
    background-position: 0% 60%;
}
#pictures{
    display: flex;
    justify-content: space-between;
    margin-top: 7vw;
    padding: 3vw ;
    padding-left: 14vw;
    padding-right: 12vw;
     
}
#firstpic{
    width: 17vw;
    /* background-color: green; */
    
}
#firstpic #picimg{
    width: 100%;
    height: 24vw;
    margin-bottom: 1vw;
    /* background-color: red; */
}
#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}
#firstpic h1 , #secpic h1{
    font-size: 2vw;
    letter-spacing: -.1vw;
    font-weight:100;
}
#firstpic p , #secpic p{
    opacity: .8;
    font-size: 1vw;
    letter-spacing: -.06vw;
    line-height: 1;
    margin-top: 10px;
}
#secpic{
    
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 25vw;

    /* background-color: green; */
    
}
#secpic #picimg{
    width: 100%;
    height: 37vw;
    margin-bottom: 1vw;
    /* background-color: red; */
}
#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}
#secpic p{
    width: 50%;
    text-align: right;
}
#banner {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 7vw;
}
#bimg{
    width: 65%;
    height: 65vh;
    /* background-color: red; */
}
#bimg img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-position: 0% 70%;
    object-fit: cover;
    height: 25h;
}
#btext{
    width: 35%;
    padding: 0 3vw;
}
#btext h1{
    letter-spacing: -.1vw;
    font-weight: 400;
    font-size: 2.4vw;
    line-height: 1;
}
#btext p{
    margin-top: 1vw;
    width: 60%;
    opacity: .7;
    letter-spacing: -.05vw;
    line-height: 1;
    font-size: 1vw;
}
#future{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}
#future video{
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)  ;
}
#ftext{
    background: #fff;
    padding: 1vw 2vw;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
#ftext button{
    padding: .8vw 1.7vw;
    font-size: .6vw;
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 100px;
    background-color: white;
    border: 1px solid #c6c6c6;
    color: #6e6e6e;
}